
.news{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;

    &>div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width:768px){
            gap: 40px;
            justify-content: center;
        }

        &>div{
            width: 30%;

            @media(max-width:768px){
                width: 80%;
            }

            @media(max-width:552px){
                width: 100%;
            }

            &>div{
                overflow: hidden;
                box-shadow: 0 0 20px #0000006b;
                border-radius: 10px;
                border: 3px solid #fff;

                &>a{
                    outline: none;

                    &:hover img{
                        scale: 1.1;
                    }

                    &:focus img{
                        scale: 1.1;
                    }

                    &>img{
                        transition: .4s;
                        width: 100%;
                    }
                }

            }

            &>p:last-child{
                font-size: 1.4em;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 15px;

                @media(max-width:1024px){
                    font-size: 1.2em;
                }

                @media(max-width:768px){
                    font-size: 1.4em;
                }
            }
        }
    }
}