.arrow_up{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #ff5f15b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px #00000060;
    cursor: pointer;

    @media(max-width:552px){
        width: 50px;
        height: 50px;
    }

    &>button{
        position: fixed;
    }

    &>svg{
        width: 50px;
        fill: #000;
        border-radius: 50%;
        background-color: #ff5e15;

        @media(max-width:552px){
            width: 35px;
        }
    }
}

.inch_enq_menq_anum {
    width: 85%;
    margin: 0 auto;
    display: flex;
    background-color: #f8f9fa;
    border: 2px solid #dee3e7;

    @media(max-width:1024px) {
        flex-wrap: wrap;

        &>div {
            width: 50%;
        }

        &>div:nth-child(2) {
            border-right: none;
        }
    }

    @media(max-width:552px) {
        width: 95%;
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 25px;
        border-right: 2px solid #dee3e7;

        &>div>div {
            position: relative;
            margin: 10px 0;

            &>div {
                width: 60px;
                height: 60px;
                background-image: linear-gradient(-45deg, transparent 50%, #ff5e15 50%);
                position: absolute;
                z-index: 10;
                top: 0;
            }

            &>svg {
                width: 60px;
                position: relative;
                z-index: 20;
                margin-left: 15px;
            }


        }

        &>div>p {
            text-align: right;
        }
    }

    &>div:first-child>div>div>svg {
        width: 50px;
    }

    &>div:last-child {
        border-right: none;
    }

    &>div>p:nth-child(2) {
        font-size: 1.5em;
        font-weight: bold;

        @media(max-width:552px) {
            font-size: 1.2em;
        }
    }

    &>div>:last-child {
        line-height: 35px;
        font-size: 1.2em;

        @media(max-width:552px) {
            font-size: 1em;
            line-height: 20px;
        }
    }
}

.hisun_tari_shukayum {
    width: 100%;
    background-color: #09162a;
    margin-top: 50px;

    &>div {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 50px;

        @media(max-width:1200px) {
            width: 95%;
        }

        @media(max-width:1024px) {
            width: 85%;
            flex-wrap: wrap;
        }

        @media(max-width:552px) {
            width: 95%;
            padding: 20px;
            padding-bottom: 55px;
        }

        &>div:first-child {
            width: 45%;

            @media(max-width:1024px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        &>div>img {
            width: 100%;
            aspect-ratio: 1/1.28;
        }

        &>div:last-child {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media(max-width:1024px) {
                width: 100%;
            }

            &>:first-child {
                color: #ff5e15;
                font-size: 1.4em;
                text-transform: uppercase;
            }

            &>h2 {
                font-size: 1.8em;
            }

            &>:nth-child(3) {
                font-size: 1.2em;
                line-height: 25px;
            }

            &>div {
                display: flex;
                align-items: center;
                gap: 20px;

                &>div>svg {
                    fill: #ff5e15;
                    width: 60px;
                }
            }

            &>div>div>p:first-child {
                font-size: 1.6em;
                margin-bottom: 10px;
            }
        }
    }
}

.harcum {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    @media(max-width:1024px) {
        width: 95%;
    }

    @media(max-width:768px) {
        flex-wrap: wrap;
        width: 80%;
    }

    @media(max-width:552px) {
        width: 100%;
    }

    &>img {
        width: 30%;

        @media(max-width:768px) {
            width: 70%;
            margin: 0 auto;
        }
    }

    &>div {
        width: 55%;
        height: max-content;
        background-color: #09162a;
        padding: 40px;
        margin-bottom: 30px;

        @media(max-width:768px) {
            width: 100%;
        }

        @media(max-width:552px) {
            padding: 40px 20px;
        }

        &>form {
            width: 100%;

            &>p {
                color: #ff5e15;
                font-size: 1.4em;
                text-transform: uppercase;
            }

            &>h2 {
                color: #fff;
                font-weight: normal;
                margin-bottom: 50px;
                margin-top: 15px;
            }

            &>div {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 25px;

                @media(max-width:768px) {
                    justify-content: center;
                }

                &>input {
                    border: none;
                    color: #fff;
                    outline: none;
                    border-bottom: 2px solid #fff;
                    width: 45%;
                    background-color: #09162a;
                    padding: 10px 0;
                    font-size: 1.1em;

                    @media(max-width:768px) {
                        width: 70%;
                    }

                    @media(max-width:552px) {
                        width: 100%;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                &>textarea {
                    height: 150px;
                    border: none;
                    color: #fff;
                    outline: none;
                    border-bottom: 2px solid #fff;
                    width: 45%;
                    background-color: #09162a;
                    padding: 10px 0;
                    resize: none;
                    font-size: 1.5em;

                    @media(max-width:768px) {
                        width: 70%;
                        margin-bottom: 40px;
                    }

                    @media(max-width:552px) {
                        width: 100%;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                &>input:last-child {
                    height: max-content;
                    align-self: flex-end;
                    background-color: #ff5e15;
                    border-bottom: none;
                    font-size: 1em;

                    &:hover {
                        background-color: #09162a;
                        cursor: pointer;
                    }

                    &:focus {
                        outline: 4px solid #a13b0b;
                    }
                }
            }
        }

    }
}

.our_projects{
    width: 100%;
    padding: 60px 30px;
    background-color: #09162a;

    &>p{
        color: #ff5e15;
        font-size: 1.7em;
        text-transform: uppercase;
    }

    &>h2{
        color: #fff;
        font-size: 2.4em;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    &>div{
        display: flex;
        justify-content: space-between;

        @media(max-width:768px){
            flex-wrap: wrap;
            gap: 20px;
        }

        &>img{
            width: 22%;

            @media(max-width:768px){
                width: 45%;
            }
        }
    }
}

.karciqner{
    &>p{
        margin-top: 100px;
        margin-bottom: 15px;
        color: #ff5e15;
        font-size: 1.8em;
        text-align: center;
        text-transform: uppercase;
    }

    &>h2{
        text-align: center;
        font-size: 2.2em;
        margin-bottom: 70px;
    }

    &>div{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media(max-width:768px){
            flex-wrap: wrap;
            gap: 50px;
        }

        &>div{
            width: 45%;

            @media(max-width:768px){
                width: 90%;
            }

            &>img{
                width: 100px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            &>p:nth-child(2){
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 15px;
            }

            &>p:last-child{
                color: #ff5e15;
                font-size: 1.4em;
                text-transform: uppercase;
            }
        }
    }
}

.news{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
    &>p{
        margin-top: 150px;
        color: #ff5e15;
        font-size: 1.4em;
        text-transform: uppercase;
    }

    &>h2{
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 60px;
    }

    &>div{
        display: flex;
        justify-content: space-between;

        @media(max-width:768px){
            flex-wrap: wrap;
            gap: 40px;
            justify-content: center;
        }

        &>div{
            width: 30%;

            @media(max-width:768px){
                width: 80%;
            }

            @media(max-width:552px){
                width: 100%;
            }

            &>div{
                overflow: hidden;
                box-shadow: 0 0 20px #0000006b;
                border-radius: 10px;
                border: 3px solid #fff;

                &>a{
                    outline: none;

                    &:hover img{
                        scale: 1.1;
                    }

                    &:focus img{
                        scale: 1.1;
                    }

                    &>img{
                        transition: .4s;
                        width: 100%;
                    }
                }

            }

            &>p:last-child{
                font-size: 1.4em;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 15px;

                @media(max-width:1024px){
                    font-size: 1.2em;
                }

                @media(max-width:768px){
                    font-size: 1.4em;
                }
            }
        }
    }
}