

.karciqner{
    margin: 70px 0;

    &>div{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;

        &>div{
            width: 45%;

            @media(max-width:768px){
                width: 90%;
            }

            &>img{
                width: 100px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            &>p:nth-child(2){
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 15px;
            }

            &>p:last-child{
                color: #ff5e15;
                font-size: 1.4em;
                text-transform: uppercase;
            }

            &>div{
                display: flex;
                gap: 15px;
                margin-bottom: 15px;

                &>svg{
                    width: 20px;
                    height: 20px;
                    fill: #ff5e15;
                }
            }
        }
    }
}